.main {
    position: relative;

    width: 70%;
    height: 1800em;

    box-shadow: 9px 8px 4px #b3b3b3, 0 0 14px #b3b3b3;

    border: 1px solid silver;

	background-color: #333333;

    font-family: 'courier new';

	margin-top: 0.7em;
    margin-left: auto;
	margin-right: auto;

    visibility: hidden;
}

.off_the_main_page {
    position: relative;
    left: 86%;
    top: -6em;

    width: 4.6em;
    height: 4.4em;

    background-color: #107C10;
    background-image: url('../../images/go_top.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 4.4em;

    border-radius: 50%;

    font-family: monospace;
    font-size: 1.9em;

    text-align: center;

    border: 1px solid yellowgreen;
}

.off_the_main_page a {
    position: relative;
    top: 24%;

    background-color: #299038;

    border-radius: 50%;

    color: whitesmoke;

    cursor: pointer;

    font-size: 2em;

    padding-top: 17%;
    padding-bottom: 17%;

    padding-left: 27%;
    padding-right: 27%;

    text-decoration: line-through;
}
