
RewriteOptions inherit
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/.+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule .*\.()$ - [F,NC]

RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/.+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule .*\.()$ - [F,NC]

RewriteCond %{HTTP_REFERER} !^http://m.software-development-of-better-tomorrow.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m.software-development-of-better-tomorrow.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://software-development-of-better-tomorrow.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://software-development-of-better-tomorrow.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m.software-development-of-better-tomorrow.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m.software-development-of-better-tomorrow.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.software-development-of-better-tomorrow.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.software-development-of-better-tomorrow.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://m.software-development-of-better-tomorrow.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://m.software-development-of-better-tomorrow.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://software-development-of-better-tomorrow.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://software-development-of-better-tomorrow.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.m.software-development-of-better-tomorrow.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.m.software-development-of-better-tomorrow.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.software-development-of-better-tomorrow.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.software-development-of-better-tomorrow.org$      [NC]
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/.+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php56” package as the default “PHP” programming language.
<IfModule mime_module>
  AddType application/x-httpd-ea-php56___lsphp .php .php5 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
