.rules_and_philosophy {
    position: relative;
    top: 1%;
    
    height: 8.2em;

    padding-bottom: 0.3em;
}

.rules, .philosophy {
    position: relative;
    display: inline-block;

    top: 5%;
}

.rules {
    width: 80%;
    height: 2em;        
}    

.philosophy {
    left: 1%;
		
    width: 10%;
    height: 6em;

    background-size: 100% 6em;
	background-image: url('../../images/open_mindedness.png');
	background-color: #333333;
	background-repeat: no-repeat;

    cursor: pointer;

    margin-top: 1%;
}

.overPhilosophy {
    border-radius: 50%;
}

.rule {
    display: inline-block;

    font-size: 1.6em;
    color: whitesmoke;
    font-variant: small-caps;
}

.believe, .imagination, .open_mindedness, .hard_work {
    position: relative;
    top: -10%;
    left: 5%;

    font-size: 1.5em;
}

.rules_motto {
    position: relative;
    top: 25%;
    left: 5.7%;

    width: 94%;

    color: whitesmoke;

    font-size: 0.7em;
    font-family: 'Orbitron', sans-serif;

    letter-spacing: 0.4em;
}