.splash {
    width: 75%;
    height: 44em;

    background-size: 100% 44em;
	background-image: url('../../images/splash_logo.png');
	background-color: #333333;
    background-repeat: no-repeat;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2.7em;

    opacity: 0;
}

.page {
    position: relative;

    width: 100%;
}

.inline_style {
    position: relative;

    display: inline-block;
}

.dot {
    position: relative;

    width: 15%;
}

.green {
    position: relative;
    float: left;
    left: 4em;
    top: 37em;

    width: 1px;
    height: 1px;    

    border-radius: 50%;
    background: #90B740;

    padding: 8px;

    visibility: hidden;
}

.main {
    position: relative;
    float: left;
    left: 14.5%;
    
    width: 68%;
        
    box-shadow: 9px 8px 4px #b3b3b3, 0 0 4px #b3b3b3;
            
    border: 1px solid silver;
        
	background-color: #333333;
	
    font-family: 'courier new';

    margin-left: auto;
	margin-right: auto;

    visibility: hidden;
}

.blue {
    position: relative;
    float: right;
    right: 4em;
    top: 5em;

    width: 1px;
    height: 1px;

    border-radius: 50%;
    background: #0961BA;
    
    padding: 8px;

    visibility: hidden;
}

.logotype, .content, .footer {
    position: relative;
        
    width: 98%;

    margin-left: auto;
    margin-right: auto;
}

.logotype {
    top: 1%;
}

.content {
    top: 5%;

    height: 27em;
}

.footer {
    top: 15%;

    border-top: 1px outset #dddddd;

	color: white;

	font-size: 1em;

    padding-top: 0.5em;

    text-align: left;
}  