.developer_yt_ch9_videos {
    position: relative;
    float: left;
    left: 0;
    top: 10%;

    width: 100%;

    border-top: 1px outset #dddddd;        
        
    padding-top: 3%;

    color: white;
       
    font-family: 'Orbitron', sans-serif;    
    font-size: 2em;

    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.developer_yt_ch9_videos a {
    color: white;
}

.developer_yt_ch9_videos a:hover {
    color: lightslategray;

    text-decoration: none;
}

.yt_ch9_inline {
    position: relative;
    display: inline-block;
}

.yt, .ch9 {
    position: relative;
}

.yt {
    float: left;
    left: 5%;
}

.ch9 {
    float: right;
    right: 5%;
}

.arrow_a_3, .arrow_a_2, .arrow_a_1 {
    visibility: hidden;
}