.main_page {
    position: relative;
    display: inline-block;
}

.main_page  a {
    color: white;
        
    letter-spacing: 1px;

    text-decoration: none;
}

.main_page  a:hover {
    color: silver;

    text-decoration: none;
}
