.dynamicProLinksContainer {
    line-height: 2em;

    padding: 3%;
}

.dynamicProLinksContainer a {
    color: whitesmoke;

    text-decoration: none;
}

.dynamicProLinksContainer a:hover {
    text-decoration: underline;
}

.why {
    color: #8c8c8c;

    cursor: pointer;

    font-size: 1.3em;

    margin-left: 3%;
}

.explained.why {
    color: lawngreen;
}