.blogEditor {
    float: left;
    left: 0;

    width: 32em;

    background-color: whitesmoke;

    padding: 5%;
}

textarea {
    resize: none;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.titleCaption {
    background-color: lightgray;

    font-family: monospace;
    font-size: 1.4em;
    font-variant: small-caps;

    line-height: 2em;

    text-align: center;
}
 
.applyChanges, .cancelChanges {
    position: relative;

    width: 50%;

    cursor: pointer;

    font-family: monospace;
    font-size: 1.3em;
    font-variant: small-caps;

    line-height: 2em;
}

.applyChanges {
    float: left;
    left: 0;
}

.cancelChanges {
    float: right;
    right: 0;
}

.applyChanges:hover {
    background-color: darkolivegreen;
    color: whitesmoke;
}

.cancelChanges:hover {
    background-color: darkred;
    color: whitesmoke;
}