.main {
    position: relative;

    width: 70%;
    height: 190em;

    box-shadow: 9px 8px 4px #b3b3b3, 0 0 14px #b3b3b3;

    border: 1px solid silver;

	background-color: #333333;

	font-family: 'courier new';

	margin-top: 0.7em;
    margin-left: auto;
	margin-right: auto;

    visibility: hidden;
}

.header {
    position: relative;
    top: 0.2%;

    width: 99.4%;
    height: 6.5em;

    background-color: black;

    margin-left: auto;
    margin-right: auto;
}

.navigation {
    position: relative;
    float: left;
    left: 7%;
    top: 4%;

    height: 1em;

    color: whitesmoke;

    font-family: 'Courier New', 'Courier', 'monospace';
    font-size: 1em;
}

.content {
    position: relative;
    float: left;
    left: 7%;
    top: 7%;

    width: 85%;

    color: whitesmoke;

    margin-left: auto;
    margin-right: auto;
}
