.f_address {
    position: relative;
    bottom: 15px;
    
    width: 100%;

    background-color: black;

    font-size: 1.49em;

    margin-left: auto;
    margin-right: auto;
}

.w3cHtml {
    position: relative;
    float: left;
    left: 1%;
}

.w3cCss {
    position: relative;
    float: left;
    left: 1%;
}

.w3cHtml, .w3cCss {
    bottom: 0.5em;
}

.w3cHtml img, .w3cCss img {
    width: 5.4em;
    height: 2.5em;
    
    padding-left: 0.1em;
}

.copyright {
    position: relative;
    float: left;
    left: 28%;
    bottom: 0.213em;

	font-size: 1.25em;
}

.date {
    position: relative;
    float: left;
    left: 28.5%;
    bottom: 0.2em;
    
	font-size: 1.15em;
}

.address {
    position: relative;
    float: left;
    left: 30%;
    bottom: 0.2em;
    
	font-size: 1.15em;
	
	letter-spacing: 1px;
}

.lastModified {
    position: relative;
    float: right;
    right: 1%;
    bottom: 0.2em;
    
    font-size: 1.15em;
}