.dynamicNextVersionOverviewContainer {

    line-height: 2em;

    padding: 3%;
}

li {
    position: relative;
    left: 5%;

    color: whitesmoke;

    font-size: 0.8em;

    list-style-type: square;
}

sub {
    font-size: 1.7em;
}

.priority_on, .priority_off {
    position: relative;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}

.priority_on {
    color: red;
}

.priority_off {
    color: lightgray;
}

.hr_like {
    position: relative;

    width: 99%;

    border: 2px solid whitesmoke;

    margin-top: 3%;
    margin-bottom: 3%;
}

.windows, .android, .ios, .blackberry {
    position: relative;
    float: left;

    width: 49%;
    height: 10em;

    border: 1px solid whitesmoke;

    margin-left: auto;
    margin-right: auto;

    padding-top: 10%;

    text-align: center;
}

.windows {
    background-color: #00ADEF;
}

.android {
    background-color: green;
}

.ios {
    background-color: #F2F2F2;
}

.blackberry {
    background-color: #15180D;
}

.official_name {
    position: relative;
    float: left;
    left: 0;

    width: 100%;

    color: black;
    background-color: white;

    font-family: 'Courier New';
    font-size: 2.5em;

    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;

    padding-top: 1%;
    padding-bottom: 1%;

    text-align: center;
}

.four, .OS {
    position: relative;
    float: left;
    left: 0;

    width: 5%;

    color: whitesmoke;

    font-family: 'Courier New';
    font-size: 5em;

    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;    
}

.four {
    position: relative;
    float: left;
    left: 40%;

    color: #43a047;
}

.OS {
    position: relative;
    float: left;
    left: 40.5%;

    color: #1976d2;
}