.history_content a {
    text-decoration: none;
}

.history_content a .custom_link {
    position: relative;
    float: right;
    
    color: #4d94ff;
    
    padding-left: 2%;    
    
    text-decoration: underline;
}