.inline-header {
	display: inline-block;
}

.avatar {
	position: relative;
	float: right;
	right: 4px;
	top: 3px;

	width: 120px;
    height: 91px;

    border: 1px solid white;

	background-image: url('../../images/avatar.png');
	background-size: 120px 91px;
    background-repeat: no-repeat;
}

.menu {
	position: relative;
	float: left;
	left: 14px;
	top: 15px;

	font-variant: small-caps;
	font-size: 1.7em;
}

.jobprofile {
	position: relative;
	float: left;
	left: 4px;

	font-variant: normal;
	font-size: 0.34em;
}

.main_page {
	position: relative;
	float: left;
	clear: both;
	
	left: 4px;
	top: 0.8em;
	
	font-family: monospace;
	font-variant: normal;
	font-size: 0.6em;
	font-weight: lighter;
}

.main_page  a {
	color: white;
	
	letter-spacing: 1px;
}

.main_page  a:hover {
	text-decoration: none;
	color: silver;
}

.banner {
	position: relative;
    top: 40%;
}