.mapContainer {
    position: relative;

    width: 99%;
    height: 40em;

    border: 1px solid lightgray;

    margin-left: auto;
    margin-right: auto;
}

.markerInfoWindow {
    position: relative;

    width: 800px;
    height: 16em;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 1.5%;
}

.markerInfoWindowGuest {
    position: relative;

    width: 660px;
    height: 8em;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 1.5%;
}

.inline {
    display: inline-block;
}

.family {
    position: relative;

    width: 100%;

    padding: 0;

    border: 1px solid lightgray;
}

.familyInfo {
    position: relative;

    width: 98.8%;
    height: 3em;

    background-color: whitesmoke;
    color: gray;

    font-size: 1.25em;

    margin-left: auto;
    margin-right: auto;

    padding-left: 1%;
}

.familyMembers {
    position: relative;
    float: left;
    left: 0;
    clear: left;

    width: 100%;
    height: 10em;
}

.familyMember {
    position: relative;
    float: left;
    left: 0;

    width: 100%;
    height: 9.75em;

    border: 1px solid darkgrey;    
}

.gravatarFamilyMember {
    position: relative;
    float: left;
    left: 0;

    width: 110px;
    height: 9.75em;

    background-size: cover;
    background-repeat: no-repeat;
}

.gravatarGuest {
    position: relative;
    float: left;
    left: 0;

    width: 70px;
    height: 5.5em;

    border: 1px solid silver;

    background-size: cover;
    background-image: url("/clever_code/our_roots/images/visitor_face/guest_happy_face.png");
    background-repeat: no-repeat;

    padding-bottom: 0.3%;
}

.gravatarInfo {
    position: relative;
    float: left;
    left: 105%;

    width: 682px;
    height: 9.75em;
}

.gravatarInfoGuest {
    position: relative;
    float: left;
    left: 105%;

    width: 560px;
    height: 5.5em;
}

.markerInfo, .adressInfo {
    padding-left: 1%;
}

.markerInfo {
    color: royalblue;

    font-size: 2em;
}

.adressInfo {
    color: slategray;

    font-size: 1.2em;
}