.dossier {
    position: relative;

    top: 2%;
    height: 5em;

    border-top: 1px outset #dddddd;

    padding-top: 2%;
}

.dossier_title {
    position: relative;
    clear: both;

    left: 1%;

    color: whitesmoke;

    font-size: 1.1em;

    padding-bottom: 2%;
}

.rule_dossier {
    position: relative;
    display: inline-block;

    font-size: 0.85em;
}

.cv {
    left: 3%;

    width: 33%;
}

.cv a {
    color: whitesmoke;

    font-size: 1em;

    text-decoration: none;
}

.cv a:hover {
    color: darkred;

    font-size: larger;
    font-weight: bold;

    text-decoration: underline;
}

.separator {
    color: silver;

    font-size: 1em;
}

.last_updated {
    left: 11%;

    color: whitesmoke;

    font-size: 1em;

    line-height: 1.5em;
}