.error {
    position: relative;
    float: left;
    left: 5%;
    top: 2em;

    color: red;
}

.notSupported {
    position: relative;
    width: 77%;
    height: 6em;
        
    border-radius: 15px;

    background-color: black;
    color: white;
        
    font-family: 'verdana', 'helvetica', 'sans-serif';
    font-size: 1.1em;
        
    margin-left: auto;
    margin-right: auto;
    margin-top: 280px;
        
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.15em;
        
    text-align: left;
}