.content {
    position: relative;
    float: left;
    left: 3%;
    top: 5%;

    width: 94%;
    
    color: whitesmoke;

    margin-left: auto;
    margin-right: auto;
}

.entry {
    position: relative;
    top: 10%;

    width: 90%;

    border: 1px dotted gray;

    margin-left: auto;
    margin-top: 2%;
    margin-right: auto;

    padding: 1%;
}

.entryTitle {
    position: relative;

    font-size: 1.3em;

    line-height: 1.4em;

    margin-bottom: 1%;

    text-decoration: overline;
}

.lineDefinition {
    font-family: 'Courier New', 'Courier', 'monospace';
    font-size: small;
        
    line-height: 1.3em;
}
 
.postedOnDate {
    position: relative;

    color: lightblue;

    font-family: 'Courier New', 'Courier', 'monospace';
    font-size: 0.7em;

    padding-top: 2%;
}

#blogUrls {
    color: violet;

    text-decoration: none;
}

#blogUrls:hover {
    color: silver;

    text-decoration: underline;
}

.appreciation {
    color: darkgoldenrod;

    font-size: 2em;
}

.family, .work, .friends {
    line-height: 1.85em;
}

.family {
    color: red;

    font-size: 2em;
}

.work {
    color: black;

    font-size: 1em;
}

.friends {
    color: lightgray;

    font-size: 0.7em;
}

.work_attitude {
    color: royalblue;

    font-size: 2em;

    line-height: 2em;
}

.work_reflection {
    color: antiquewhite;

    font-size: 2em;    
}

.speaking_TSQL {
    color: royalblue;

    font-size: 1.6em;

    line-height: 2em;
}

#visit_drive {
    color: whitesmoke;

    font-size: 2.8em;

    line-height: 3em;
}

.pro_stuff {
    position: relative;

    width: 100%;
    height: 0.7em;

    background-color: lavender;

    margin-top: 3em;
}

.namely {
    color: #79E2E6/*#28A142*/;

    font-size: 3.5em;

    line-height: 3em;
}

sub {
    font-size: 3em;

    line-height: 1.2em;
}

.versionClip {
    position: relative;

    color: #F6B600;

    font-size: 2em;

    line-height: 2em;
}

.inlineClip {
	position: relative;
	font-size: 1.5em;
}

.good_customs_part1, .good_customs_part2 {
    position: relative;

    font-family: 'Dosis', sans-serif;
    font-size: 2em;

    line-height: 2em;
}

.good_customs_part1 {
    color: #DA251D;
}

.good_customs_part2 {
    color: #FFFF00;
}

.resteurant_yellow_dragon {
    position: relative;

    width: 20%;
	height: 10em;

    background-size: 100% 10em;
	background-image: url('../../upload/yellow_dragon.gif');
	background-repeat: no-repeat;

    cursor: pointer;
}

.yellow_dragon_site_info {
    position: relative;
    float: left;
    left: 100%;
    top: 50%;

    width: 400%;

    font-size: 1.8em;
    font-family: monospace;
}

.blog_entry_section_title {
    position: relative;

    background-color: maroon;

    color: yellowgreen;

    font-weight: bold;
}

.special_characters {
    position: relative;

    color: orangered;

    font-size: 2em;
}

.holidays {
    position: relative;

    width: 500px;
	height: 375px;

    background-size: 100% 375px;
	background-image: url('../../upload/holidays.jpg');
	background-repeat: no-repeat;

    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

.my_dream {
    position: relative;

    width: 729px;
	height: 671px;

    background-size: 100% 671px;
	background-image: url('../../upload/map-of_poland.png');
	background-repeat: no-repeat;

    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;    
}

.my_dream_codename {
    position: relative;

    width: 98%;

    color: silver;

    font-family: 'Orbitron', sans-serif;
    font-size: 2.7em;

    letter-spacing: 2px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    padding-bottom: 5%;

    text-align: center;
}

.code_quality {
	position: relative;
	left: 21%;
	
    width: 83px;
	height: 53px;

    background-size: 100% 53px;
	background-image: url('../../upload/code_quality.png');
	background-repeat: no-repeat;
}

.d-s-d_new_name {
    font-size: 2.2em;

    line-height: 2em;
}

.new {
    color: #8c8c8c;
}

.active {
    color: #1976d2;
}

.done {
    color: #43a047;
}