.main {
    position: relative;
		
    width: 70%;
    height: 121em;
        
    box-shadow: 9px 8px 4px #b3b3b3, 0 0 14px #b3b3b3;
            
    border: 1px solid silver;

	background-color: #333333;
    color: whitesmoke;

	font-family: 'courier new';
    font-size: 0.8em;

	margin-top: 0.7em;
    margin-left: auto;
	margin-right: auto;

    visibility: hidden;
}

.main_page {
    position: relative;
    float: left;
    left: 43%;
    top: .8em;
        
    font-family: monospace;
    font-variant: normal;
    font-size: 1.4em;
    font-weight: lighter;

    padding-right: 1%;
}

.main_page  a {
    color: white;
        
    letter-spacing: 1px;
}

.main_page  a:hover {
    text-decoration: none;
    color: silver;
}

.versionChanges, .error {
    position: relative;
    float: left;
    left: 2%;
    top: 4%;

    width: 96%;

    line-height: 1.8em;

    margin-left: auto;
    margin-right: auto;
}

a.aHrefTxt {
    color: whitesmoke;
    letter-spacing: 4px;
}

a.aHrefTxt:hover {
    text-decoration: none;
    color: silver;
}